terraform {
  backend "azurerm" {
    resource_group_name  = "rg-terraform-state"
    storage_account_name = "stterraformstate0001"
    container_name       = "tfstate"
    key                  = "fabric-dataops-platform.tfstate"
  }
}
